/admin/cache/
/application/cache/
/application/logs/
/public/cache/css/
/public/cache/js/
/public/uploads/
/public/thumbnails/
/etc/logs/
/other/

/build/
/.nbproject/

/robots.txt
/version.txt
/auth.php

*.log
Thumbs.db
