[submodule "modules/beanstalk"]
	path = modules/beanstalk
	url = git@github.com:nergal/kohana-banstalkd.git
[submodule "core"]
	path = core
	url = https://github.com/kohana/core.git
[submodule "modules/plater"]
	path = modules/plater
	url = git@github.com:nergal/plater.git
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:nergal/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:nergal/cache.git
[submodule "modules/image"]
	path = modules/image
	url = git@github.com:nergal/image.git
[submodule "modules/database"]
	path = modules/database
	url = git@github.com:nergal/database.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git@github.com:nergal/oauth.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:nergal/pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:nergal/orm.git
[submodule "modules/event"]
	path = modules/event
	url = git@github.com:nergal/kohana-event.git
[submodule "modules/asset"]
	path = modules/asset
	url = git@github.com:nergal/kohana-asset.git
[submodule "modules/bbcode"]
	path = modules/bbcode
	url = git@github.com:nergal/kohana-bbcode.git
[submodule "modules/resizer"]
	path = modules/resizer
	url = git@github.com:nergal/kohana-resizer.git
[submodule "modules/apis"]
	path = modules/apis
	url = git@github.com:nergal/apis.git
[submodule "modules/demo"]
	path = modules/demo
	url = git@github.com:nergal/demo.git
[submodule "modules/orm-mptt"]
	path = modules/orm-mptt
	url = git@github.com:nergal/kohana3-orm_mptt.git
[submodule "modules/devbar"]
	path = modules/devbar
	url = git@github.com:nergal/developerbar.git
[submodule "modules/libs"]
	path = modules/libs
	url = git@github.com:nergal/kohana-libs.git
