.middle_line{
	border-top:1px solid #c0c0c0;
	margin:20px 0 -5px 0;
}
.middle_line>*{
	top:-10px;
	position:relative;
	background-color:#ffffff;
	padding-right:10px;
	line-height:1.3em;
}
.get_mess{
	background:#eeeeee;
	border:1px solid #d0d0d0;
	padding:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius:10px ;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior: url(css/PIE.htc);
	position:relative;
	z-index:300;
}
.get_mess #e-mail_div{
	position:absolute;
	background:#f5f5f5;
	border:1px solid #d0d0d0;
	padding:15px;
	-webkit-border-radius:0 15px 15px 15px;
	-khtml-border-radius:0 15px 15px 15px ;
	-moz-border-radius:0 15px 15px 15px;
	border-radius:0 15px 15px 15px;
	-webkit-box-shadow: 0 0 5px #cccccc;
	-khtml-box-shadow:0 0 5px #cccccc;
	-moz-box-shadow:0 0 5px #cccccc;
	behavior: url(/css/PIE.htc);
	z-index:300;
	left:225px;
	width:350px;
        top: 35px;
}
.get_mess #e-mail_div .paddtable td{
	padding:3px 10px 3px 0;
}

.get_mess #e-mail_div label{
	margin-left:-5px;
}
.get_mess #e-mail_div .form label{
	width:70px;
	text-align:right;
	margin:0 10px 0 0;
}
.get_mess #e-mail_div .form label span{
	width:70px;
	text-align:right;
}
.get_mess #e-mail_div .form input[type="text"]{
	width:250px;
}
.get_mess.form{
	padding:5px 15px 10px 15px;
}

#read_it ul{
	display:block;
	margin-left:30px;
}
#read_it ul li{
	list-style:disc;
	color: #002C80;
}

#comments .middle_line h3, .get_mess h3, #read_it .middle_line h3{
	display:block;
	float:left;
	color: #353535;
    font-size: 1.1em;
	line-height:1.3em;
    font-variant: small-caps;
    font-weight: bold;
	
}
#comments .middle_line h3{
	top:-11px;
}
#comments .middle_line #add-comment2{
	display:block;
	float:right;
	padding:0 5px 0 10px;
	top:-12px;
}
#comments #comments_pager{
	text-align:center;
}

#comments .pager {
    display: inline-block;
    margin: 0px auto 10px;
}
#comments .pager b, #comments .pager span {
    border: 1px solid #DEDEDE;
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
#comments .pager span.active {
    background-color: #909090;
    color: #FFFFFF;
    position: static;
}
#comments .comments-list ul{
	display:block;
}
#comments .comments-list ul li{
	display:block;
	list-style:none;
	padding:7px;
}
#comments .comments-list ul li.anbg{
	background:#f5f5f5;
}
#comments .comments-list ul li .avatar{
	width:50px;
}
#comments .comments-list ul li .text{
	width:400px;
}
#comments .comments-list ul li .text p{
	margin:3px 0;
	font-size:1.05em;
	color:#353535;
}
#comments .comments-list ul li .text .citata{
	-webkit-border-radius: 10px;
	-khtml-border-radius:10px ;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0 0 5px #cccccc;
	-khtml-box-shadow:0 0 5px #cccccc;
	-moz-box-shadow:0 0 5px #cccccc;
	behavior: url(/css/PIE.htc);
	padding:3px 10px;
	font-style:normal;
	margin:10px 0;
	
}
#comments .comments-list ul li .text .citata *{
	font-size:95%;
}
#comments .comments-list ul li .text .citata p{
	color:#656565;
}
#comments .get_mess.form label{
	width:120px;
	margin-right:10px;
}
#comments .get_mess.form label span{
	width:120px;
}
#comments .get_mess.form label.auto_label, #comments .get_mess.form label.auto_label span{
	width:auto;
	line-height:25px;
}
#comments .get_mess.form .fancy{
	width:290px;
}
#comments .get_mess.form textarea.fancy{
	height:auto;
}
/*Табы в мейнтексте*/
.container .content .maintext .rel .tabright2,
.container .content .maintext .rel .tableft2{
	width:252px;
}
.container .content .maintext .rel .tabright2 .cts,
.container .content .maintext .rel .tabright2.active .cts,
.container .content .maintext .rel .tableft2 .cts,
.container .content .maintext .rel .tableft2.active .cts
{
	width:192px;
}
.container .content .maintext .rel .tabright2,
.container .content .maintext .rel .tabright2.active{
	margin: -28px -4px -5px 228px;
}