body, html{
	background:url(/i/branding/aromart.jpg) !important;
	/*background-attachment: fixed !important;*/
	background-position: 50% 0 !important;
	background-repeat: no-repeat !important;
	background-color:#ffffff !important;
}

body {
	cursor: pointer;		
}
.limiter, .header, .container, .rightcol, .footer, .clear {
	cursor: auto;
}
