BODY {
	color: #000000;
	margin: 0px;
	/*background-image: url(images/new_1/bt-lady_8marta_background.jpg);*/
      background-position: 50% 0;
      background-repeat: no-repeat;
	  background-color: #fff;
	/*background: url("/bg_body_1450px.jpg") no-repeat scroll 50% 0 #8C4277;*/
}
td { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	margin: 0em;
	padding: 0em;
	vertical-align:top;	
}
div{
	font-family: Arial, Helvetica, sans-serif; 
}
table {
	border-collapse: collapse;
	border-width: 0em;
}
form{
	margin:0;
	padding:0;
}

/*a:link, a:active, a:visited {
	color: #46423F;
	text-decoration: underline;
}*/
a {
	font-size: 12px;
	color: #46423F;
	text-decoration: underline;
}
a:hover {text-decoration: none;}

a.simp {
	background: url(images/new/mark_red.gif) no-repeat top left;
	font-size: 11px;
	padding-bottom: 5px;
}

a.brown{
	color:#811417;
}
/*li {list-style-image: url(images/new/mark_red.gif); }*/

img {border: none;}

.png {behavior: url(images/new_1/png.htc);}

.corners_gray {
      background: #FBF0E6;
      border: 1px solid #B0A59B;
}
.corners_gray div {
      background: url(images/new_1/cone_gray_tl.gif) top left no-repeat;
      position: relative;
      margin: -1px;
}
.corners_gray div div {
      background: url(images/new_1/cone_gray_tr.gif) top right no-repeat;
	margin: 0px;
}
.corners_gray div div div {
      background: url(images/new_1/cone_gray_br.gif) bottom right no-repeat;
}
.corners_gray div div div div {
      background: url(images/new_1/cone_gray_bl.gif) bottom left no-repeat;
}

.corners_red_red {
      background: #B80C11;
      border: 1px solid #710E11;
}
.corners_red_red_1 {
      background: url(images/new_1/cone_red_tl.gif) top left no-repeat;
      position: relative;
      margin: -1px;
}
.corners_red_red_2 {
      background: url(images/new_1/cone_red_tr.gif) top right no-repeat;
	margin: 0px;
}
.corners_red_red_1_ {
      background: url(images/new_1/cone_red_tl_.gif) top left no-repeat;
      position: relative;
      margin: -1px;
}
.corners_red_red_2_ {
      background: url(images/new_1/cone_red_tr_.gif) top right no-repeat;
	margin: 0px;
}
.corners_red_red_3 {
      background: url(images/new_1/cone_red_br.gif) bottom right no-repeat;
}
.corners_red_red_4{
      background: url(images/new_1/cone_red_bl.gif) bottom left no-repeat;
}

.corners_svez {
      background: url(images/new_1/bg_white.jpg) top left;
      border: 1px solid #B0A59B;
}
.corners_1   {
      background: url(images/new_1/cone_gray_tl.gif) top left no-repeat;
      position: relative;
      margin: -1px;
}
.corners_2 {
      background: url(images/new_1/cone_gray_tr.gif) top right no-repeat;
	margin: 0px;
}
.corners_3 {
      background: url(images/new_1/cone_gray_br.gif) bottom right no-repeat;
}
.corners_4 {
      background: url(images/new_1/cone_gray_bl.gif) bottom left no-repeat;
}

.corners_white {
      background: #fff;
      border: 1px solid #B0A59B;
}

.corners_red {
      background: url(images/new_1/bg_red_new.jpg) top left;
	border: 1px solid #DD4E52;
}

.corners_1_red {
      background: url(images/new_1/cone_tl.gif) top left no-repeat;
      position: relative;
      margin: -1px;
}
.corners_2_red {
      background: url(images/new_1/cone_tr.gif) top right no-repeat;
	margin: 0px;
}
.corners_3_red {
      background: url(images/new_1/cone_br.gif) bottom right no-repeat;
}
.corners_4_red {
      background: url(images/new_1/cone_bl.gif) bottom left no-repeat;
}
.corners_yellow {
      background: url(images/new_1/bg_yellow.jpg) top left;
      border: 1px solid #B0A59B;
}

.corner_bl {height:8px; background: transparent url(images/new_1/cone_gray_bl.gif) 0 0 no-repeat}
.corner_br {height:8px; background: transparent url(images/new_1/cone_gray_br.gif) 100% 0 no-repeat}

.icons{
	vertical-align: text-top;
	background: url(images/new_1/service_sep.gif) no-repeat right;
	padding: 0px 5px 0px 8px;
}
.icons a, .icons_r a{
	font-family: Tahoma, Helvetica, sans-serif; 
	font-size:10px;
	color:#46423F;
	text-decoration: none;
}
.icons_r{
	vertical-align: text-top;
	padding: 0px 5px 0px 8px;
}

.small{
	font-size:11px
}

a.small{
	font-family: Tahoma, Helvetica, sans-serif; 
	font-size:10px;
	color:#46423F;
	text-decoration: none;
}

.block-title{
	font-size:12px;	
	color:#920B0F;
	font-weight: bold;
	text-transform: uppercase;
}

.block-title h1{
	margin:0px; 
	font-size:12px;
}

.block-title a {
	color:#920B0F;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;	
}

a.name-article{
	font-size:13px;
	font-weight: bold;
	color:#46423F;
	text-decoration: underline;
}

.name-article a:hover{
	text-decoration: none;	
}

a.name_white{
	font-size:10px;
	color: #fff;
	text-decoration: underline;
}

.name_white a:hover{
	text-decoration: none;	
}

.block-title-navig
{
	font-size:14px;
	color:#920B0F;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 3px 0 3px;	
}
a.block-title-navig{
	font-size:16px;
	color:#920B0F;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 3px 0 3px;	
}
a.block-title-navig-act,.block-title-navig-act
{
	font-size:16px;
	color:#920B0F;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding:1px 6px 1px 6px;
	background: url(images/new_1/navig_circle.gif) no-repeat top left;
}

.block-title a:hover {
	text-decoration: underline;
}

.block-title-white{
	font-size:12px;	
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	padding-left:5px;	
}

.news-list td {
	font-size: 12px;
	color: #000000;
	padding:0 0 10px 10px;
}

.news-list- td {
	font-size: 12px;
	color: #000000;
	padding:0 0 10px 0;
}

.news-list-brown td {
	font-size: 12px;
	color: #000000;
	padding:0 0 10px 20px;
}

.news-list td a:link, .news-list td a:active, .news-list td a:visited, .news-list p a:link, .news-list p a:active {
	color: #46423F;
	text-decoration: underline;
}

.news-list td a:hover {text-decoration: none;}

#new-site td {background: url(images/new_1/gray_point.gif) no-repeat top left; padding-left: 20px;}
#new-site-brown td {background: url(images/new_1/gray_point_.gif) no-repeat top left; padding-left: 20px;}

.text-article{
	font-size:12px;	
	color:#46423F;
}

.text-little{
	font-size:10px;	
	color:#ADA298;
}
/* HEADER ==================================== */

.main_background {background: url(images/new_1/bg_red_new.jpg) repeat-x left top;}

.cone_center {background: url(images/new_1/cone_center.jpg) repeat-x top left;}

.head_cone {background: url(images/new_1/head_cone.png) no-repeat top right;width:100%;}

.head_cone_sam {background: url(images/new_1/head_cone_sam.png) no-repeat top right;width:100%;}

.poisk {background: url(images/new_1/poisk.jpg) repeat-x top left;}

.img1 {background: url(images/new/img1_1.png) no-repeat left bottom;}

.img3 {
	background: url(images/new/img3_1.png) no-repeat left top;
	padding-left: 133px;
}

.img4 {background: url(images/new/img4.gif) no-repeat top left;}

.top-links td {
	font-family: Tahoma, Verdana, sans-serif;
	padding-right: 40px;
	font-size: 11px;
	color: #a78769;
}
.top-links td a:link, .top-links td a:active, .top-links td a:visited {	color: #a78769;}


input.sform {
	font-size: 11px;
	height: 15px;
	margin: 0px;
	border:0px solid;
}

/* Top Themes */
.topthemes {
	padding: 10px 40px 10px 30px;
	/*padding: 10px 3px 10px 3px;*/
	font-family: Tahoma, Verdana, sans-serif;
}

.topthemes ul, .topthemes span {
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
	color: #fda7a9;
}

.topthemes ul a:link, .topthemes ul a:active, .topthemes ul a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.topthemes ul a:hover {text-decoration: underline;}

#sep {background: url(images/new/sep_topthemes.gif) no-repeat right;}

.menu_ser{
	background:url(images/new_1/menu_ser.gif) repeat-x;
}
/* Menu */
.menu-bg {
	/*background: #f9eee4 url(images/new/menu_shad_1.gif) repeat-x top;*/
	background: #f9eee4;
	padding: 5px 5px 0px 0px;
}

.menu td {
	background: url(images/new/menu_sep.gif) no-repeat right;
	padding: 0px 5px 0px 5px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Tahoma, Verdana, sans-serif;
}

.menu td a:link, .menu td a:active, .menu td a:visited {
	color: #000000;
	text-decoration: none;
}
.menu td a:hover {text-decoration: underline;}

.menu-foot-shadow {background: url(images/new/menu_shad_2.gif) repeat-x top;}



/* CONTENT ==================================================== */


/* Titles */

.box-title {
	font-size: 11px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 6px 6px 10px;
}

.box-title a:link, .box-title a:active, .box-title a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.box-title a:hover {text-decoration: underline;}

.box-title_e {
	font-size: 11px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 1px 6px 1px;
}

.box-title_e a:link, .box-title_e a:active, .box-title_e a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.box-title_e a:hover {text-decoration: underline;}

#t-yellow {	background: #ff9806 url(images/new/title_bg_yellow.gif) no-repeat right; }

#t-red {	background: #b80000 url(images/new/title_bg_red.gif) no-repeat right; }

#t-blue {background: #27527d url(images/new/title_bg_blue.gif) no-repeat right; padding: 3px;}

#t-rose {background: #e05155 url(images/new/title_bg_rose.gif) no-repeat right;}

/* News List */

.news-list-inf td {
	font-size: 12px;
	color: #000000;
	padding-bottom: 10px;
	padding: 3px;
}


.news-list-img td {
	font-size: 12px;
	color: #000000;
	padding: 5px;
	vertical-align:top;
}


.news-list-img td a:link, .news-list td a:active, .news-list td a:visited, .news-list p a:link, .news-list p a:active {
	color: #46423F;
	text-decoration: underline;
}

.news-list-img td a:hover {text-decoration: none;}


/* Forum List */

.forum-list td {
	font-size: 13px;
	color: #000000;
	padding-bottom: 5px 0px 5px 0px;
	border-bottom:#E3CBB3 solid 1px;
}

.forum-list p {
	font-size: 13px;
	color: #000000;
	margin:0 0 10px 0;
}

.forum-list td a:link, .forum-list td a:active, .forum-list td a:visited {
	color: #E15055;
	text-decoration: none;
	font-weight:bold;
}
.forum-list td a:hover {text-decoration: underline;}

.forum-list td div a:link, .forum-list td div a:active, .forum-list td div a:visited{
	padding-top:5px;
	color: #7E7E80;
	font-size: 11px;
	font-weight:normal;
}

.forum-list td div {
	padding:5px 0 5px 0;
	color: #7E7E80;
	font-size: 11px;
}

#green-ar td {background: url(images/new/ar_green.gif) no-repeat top left;}

#nopad td {padding-left: 0px;}

//#new-site td, #new-site li  {background: url(images/new/mark_red.gif) no-repeat top left; padding-left: 15px;}
//#new-site td a:link, #new-site td a:active, #new-site td a:visited {color: #0066cc;}

#red-mark td, #red-mark p {background: url(images/new/mark_red.gif) no-repeat top left;padding-left:20px}
#red-mark td a:link, #red-mark td a:active, #red-mark td a:visited, #red-mark p a:link { text-decoration: none;}
#red-mark td a:hover, #red-mark p a:hover {text-decoration: underline;}

#red-marklinks td {
	background: url(images/new/mark_red.gif) no-repeat top left;
	font-size: 11px;
	padding-bottom: 5px;
}
#red-marklinks td a:link, #red-marklinks td a:active, #red-marklinks td a:visited { color: #5d5853;}

/* Pool */
.pool td {
	font-size: 11px;
	color: #000000;
	padding-bottom: 3px;
	padding-left: 5px;
}

.pool-link {
	color: #c00000;
	font-size: 11px;
	font-weight: bold;
}
.pool-link a:link, .pool-link a:active, .pool-link a:visited {
	color: #c00000;
	text-decoration: underline;
}
.pool-link a:hover {text-decoration: none;}

/* Articles */

.part-title {
	font-size: 24px;
	color: #e05155;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	font-family: Tahoma, Verdana, sans-serif;
}


.art-box {
	background-color: #FFFFFF;
	border-left: 5px solid #f6dabe;
}

.banner-box {background-color: #f6dabe;}

.art-title {
	font-size: 10px;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight:  bold;
	text-transform: uppercase;
	color: #e05155;
	padding: 0px 15px 0px 10px;
}

.art-title h1 {
	margin:0px; 
	font-size:10px;
}

.art-title a:link, .art-title a:active, .art-title a:visited {
	color: #e05155;
	text-decoration: none;
}
.art-title a:hover {text-decoration: underline;}

.art-title-line {border-bottom: 1px solid #f6dabe;}

.art-image {
	border: 1px solid #706c69;
	margin-right: 10px;
}

.title {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

.title a:link, .title a:active, .title a:visited {
	text-decoration: none;
}
.title a:hover {text-decoration: underline;}

#title-small {
	font-size: 12px;
	padding-bottom: 5px;
}

#art-text {font-size: 20px; font-weight: normal;}

.content-text {
	font-size: 14px;
	line-height: 1.2em;
}

.content-konkurs {
	font-size: 12px;
}

#content-a a:link, #content-a a:visited {
	color: red; font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-decoration: underline;
}


.art-text {font-size: 11px;}

.source {
	font-size: 11px;
	color: #808080;
	padding-bottom: 10px;
	font-family: Tahoma, Verdana, sans-serif;
}
.source a:link, .source a:active, .source a:visited {	color: #b2b2b2;}

.fs11px {font-size: 11px;}
.fs11px td {font-size: 11px;}

/* Categories Menu */

.cat-menu td {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #e3cbb2;
	font-family: Tahoma, Verdana, sans-serif;
}

.cat-menu td a:link, .cat-menu td a:active, .cat-menu td a:visited {
	color: #000000;
	text-decoration: none;
}
.cat-menu td a:hover { text-decoration: underline;}

#catmenu-mark td {
	background-color: #fff7ef;
	padding: 0px;
	margin-left: 25px;
}

#catmenu-mark td a:link, .#catmenu-mark td a:active, #catmenu-mark td a:visited {
	color: #000000;
	text-decoration: none;
}
#catmenu-mark td a:hover { text-decoration: none; width: 100%; height: 100%; background-color: #ffead5;}

.cat-menu-active {background-color: #ffc106;}

.p4 {padding: 6px;}

td#mactive, div#mactive {
	background-color: #ffc106;
	border-bottom: 1px solid #e7ad00;
}

td#submenu {
	background-color: #fff7ef;
	background-image: none;
	font-weight: normal;
	padding: 10px 5px 5px 25px;
}

td#submenu  a:link, td#submenu  a:active, td#submenu  a:visited {
	color: #000000;
	text-decoration: none;
}
td#submenu  a:hover { text-decoration: underline; background-color: transparent;}

td#submenu ul {
	margin: 0px 0px 0px 5px;
	padding-left: 5px;
	list-style-image: url(images/new/mark_submenu.gif);
}
td#submenu ul li {padding: 0px 0px 5px 0px;}

td.cat-menu-head {
	background: #f4dcc4 url(images/new/cat_menu_mark.gif) no-repeat left;
	color: #c11116;
	font-size: 10px;
	text-transform: uppercase;
	padding: 7px 7px 7px 20px;
}

/* Comments */
.com-author {
	background-color: #ededed;
	font-family: Tahoma, Verdana, sans-serif;
	color: #141414;
	padding: 2px;
	margin-bottom: 5px;
	font-size: 11px;
}
.com-date {color: #929292; font-size: 11px;}

.comments td {padding: 5px;}

.com-block {width: 100%;}

/* Export */
.export-box {border: 3px solid #f0dbc5;}

.export-item {
	font-size: 11px; 
	border-right: 1px solid #dcc7b1;
	padding: 0px 15px 0px 15px;
}
.export-item a:link, .export-item a:active, .export-item a:visited {color: #000000; text-decoration: none;}

.export-item div {padding-bottom: 10px;}

#nbrd {border: none;}

/* Navigate */
.navigate {
	background-color: #fff7f0;
	padding: 3px;
	font-size: 10px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #a08f7e;
}
.navigate a:link, .navigate a:active, .navigate a:visited {color: #a08f7e;}

.mostread {
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	color: #e05155;
	margin-bottom: 5px;
}

.hitbg {
	background: url(images/new/hit_bg.gif) no-repeat top left;
	padding: 10px 5px 5px 40px;
}

/* Send Form */
fieldset {
	border: 5px solid #efefef;
	font-family: Tahoma, Verdana, sans-serif;
	padding: 15px;
}

legend {
	font-size: 10px;
	font-weight:  bold;
	text-transform: uppercase;
	color: #e05155;
	padding: 10px;
	font-family: Tahoma, Verdana, sans-serif;
}

.sendform td {
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	font-family: Tahoma, Verdana, sans-serif;
}

textarea {
	font-family: Tahoma, sans-serif; 
	font-size: 12px;
}

.qbox {border: 1px solid #ececec; margin-bottom: 15px;}
.qbox td {padding: 10px; line-height: 1.3em;}
.qbox th {
	text-align: left;
	font-size: 12px;
	padding: 5px;
	background-color: #f7f7f7;
}
.qbox th span {
	font-weight: normal;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10px;
	color: #7b7b7b;
}
.qbox a:link, .qbox a:active, .qbox a:visited {text-decoration: none;}
.qbox a:hover {text-decoration: underline;}

/* encyclopedia */
.en-leter {
	font-size: 22px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #5c5c5c;
	padding-bottom: 1px;
	padding-left: 10px;
	border-bottom: 2px solid #ececec;
}

.en-list {
	margin: 10px;
	padding-left: 10px;
	list-style-image: url(images/new/en_mark.gif);
}
.en-list li {padding-bottom: 5px;}

.en-list a:link, .en-list a:active, .en-list a:visited {text-decoration: none;}
.en-list a:hover {text-decoration: underline;}

.alph {
	background-color: #f7f7f7;
	border: 1px solid #ececec;
	padding: 5px 5px 5px 10px;
	font-size: 11px;
	font-family: Tahoma, Verdana, sans-serif;
}
.alph a:link, .alph a:active, .alph a:visited { color: #000000; text-decoration: none;}
.alph a:hover {text-decoration: underline;}

/* Horoskop */
.hor-title {
	font-size: 12px;
	color: #0066CC;
	font-weight: bold;
}
.hor-title div {
	font-weight: normal;
	font-size: 11px;
	color: #7B7B7B;
}

.pr10px {padding-right: 10px;}
.pb15px {padding-bottom: 15px;}

.sep {
	border-bottom: 1px solid #d9d9d9;
	padding: 15px 0px 15px 0px;
}

/* Afisha */
table.afisha {border-collapse: separate;}

.afisha th {
	background-color: #ff9806;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px;
}

.afisha td {
	font-size: 11px;
	padding: 4px;
	border-bottom: 1px solid #EDEDED;
}

td.af-title {font-size: 12px;}

/* HORO UKRNET */
#horounet td{text-align:center}

/* Archive */
.arch-block td {padding: 2px;}

.arch-field {
	background-color: #FFFFFF;
	border: 1px solid #C2C2C2;
	color: #3E3E3E;
	font-size: 11px;
	height: 18px;
}
.arch-subtext {
	font-size: 10px;
	color: #B3B3B3;
	font-family: Tahoma, Verdana, sans-serif;
}

.arch-date {
	font-size: 24px;
	color: #BFBFBF;
}

/* FOOTER
===================================================== */

.foot-text {
	font-size: 11px;
	color: #695c4e;
}

.white a:link, .white a:active, .white a:visited {color: #000000; text-decoration: underline;}

a.main{
	background-color: #F9EEE4;
	color: #FFF;
	text-decoration: none;
}
a.gen{
	color: #FEFADD;
	text-decoration: none;
}


/*Sidebar
======================================================*/
.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
width: 169px; /* Main Menu Item widths */
}
 
.sidebarmenu ul li{
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 2px 0 1px 12px;
background: url(images/new_1/li_arrow.gif) no-repeat top left;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #B80C11; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: white;
}

.sidebarmenu ul li a:hover{
background:none;
color:#521315;
background-color: #FFCD5D;
}


/*Sub level menu items */
.sidebarmenu ul li ul{
position: absolute;
width: 159px; /*Sub Menu Items width */
top: 0;
padding: 2px 0 1px 4px;
visibility: hidden;
}
.sidebarmenu a.subfolderstyle{
background: url(images/new_1/li_arrow.gif) no-repeat top left;
}
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }


.cookie-title h1{
    margin: 0px;
    font-size: 12px;
}


/* Informers 14.04.11 */
.informs  {
    margin-top:20px;
    margin-bottom:5px;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    line-height:13px;
    font-weight:bold;
    background:#fff;
    border:#dbdbdb 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; -o-border-radius: 3px;
    display:table;
}

.informs  p.glist_header {
    margin:0; padding:0; width:248px; color:#353535; font-size:18px; line-height:38px; text-align:center; background:none
}

.informs  .informers_image img {
    max-width:98px; max-height:98px
}
.informs  .informers_name {
    float:none; margin:0 auto; width:140px; max-height:40px; text-align:center
}
.informs  .informers_name a, .informs  .informers_name a:visited, .informs  .informers_name a:hover {
    color:#003366; font-size:11px; line-height:13px; font-weight:bold
}
.informs  .informers_price {
    float:none; margin:0 auto; width:140px; text-align:center
}
.informs  .informers_price a, .informs  .informers_price a:visited, .informs  .informers_price a:hover {
    color:#b10000; font-size:11px; line-height:13px; font-weight:bold
}
/* / informer_yahoo_v */





.informs .informers * {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: sans-serif;
  color: #000;
  font-weight: normal;
  text-decoration: none;
  border:0;
  background: none;
}
.informs .informers a {color: #3C4662}
.informs .informers_item {margin: 10px 10px 15px 10px; }
.informs .informers_clear {height: 0; width: 0; clear: both; font-size: 1px}
/* - */
.informs .informers_name {}
.informs .informers_name a {color:#3C4662;}
.informs .informers_image {float: left; margin-right: 10px;}
.informs .informers_image a {}
.informs .informers_price {}
.informs .informers_price a {color: #000}

.informs .informers_item {
float:left;
margin:0;
padding:4px;
text-align:center;
width:157px;
}
.informs .informers_image {
float:none;
margin-bottom:5px;
width:140px;
}
.informs .informers_image img {
border:1px solid #CCCCCC;
display:block;
height:100px;
margin:0 auto;
padding:1px;
width:100px;
}
.informs .informers_name, .informs .informers_price {
color:#B10000;
font-weight:bold;
text-align:center;
}
.informs .informers_name a {
color:#003366;
font-weight:bold;
}
.informs .informers_price a {
color:#B10000;
font-weight:bold;
}
.informs .informers_price a:after {
    content:" грн.";
}
#informs-articles .informers_item {
    width:155px !important;
}
.informers_name a {
    font-size:13px;
	font-weight: bold;
	color:#46423F;
	text-decoration: none;
}
 .informers_price a {
    color:red;
    font-weight:bold;
    text-decoration: none;
}
 .informers_price a:after {
    content:" грн";
}
/* END Informers 14.04.11 */

input[name=nick], input[name=topic], input[name=code_check] {
    border:1px solid black !important;
}