.error404 { }
    .error404 p, .error404 li { font-weight: normal; }
    .error404 p { line-height: 1.2em;}
    .error404 li { list-style-type: disc; margin-left: 2em; }
    .error404 ul { margin-bottom: 1em; }
    .error404 h1 { font-size: 2.5em; padding-bottom:0.5em; border-bottom: 1px solid #ccc; margin-bottom: 0.5em; }
