.hidden { display: none }

ul li { list-style-type: none; }

.txtC { text-align: center; }

.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

.important { font-size:1.2em; font-weight:bold }
.remark { font-size:.8em; color:#999 }

.message { margin-bottom: 1em; padding:.8em; color: #333; }
	.message ul { margin-left: 2em; }
	.message.success { background-color: #dfd; border: 1px dotted #bdb }
	.message.error { background-color: #fdd; border: 1px dotted #dbb }
	.message.warning { background-color: #ffd; border: 1px dotted #ddb }
	.message.notice { background-color:#def; border: 1px dotted #abd }
	.message.normal { background-color:#f5f5f5; border: 1px solid #dedede }

.btn {
        font-size: 10px;
        padding: 5px 15px;
        background: #f5f5f5;
        background: -moz-linear-gradient(
                top,
                #ffffff 0%,
                #eeeeee);
        background: -webkit-gradient(
                linear, left top, left bottom,
                from(#ffffff),
                to(#eeeeee));
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #cfcfcf;
        text-decoration: none;
        color: #535353 !important;
        text-align: center;
}

.form { }
	.form .message { border-left: 0px; border-right: 0px }
	.form input,
	.form textarea,
	.form select { font-size: 1em; padding:4px 2px; border:1px solid #dedede; width: 30em; margin:2px 0 20px 10px }
	.form .fancy { width: 380px; }
		.form .fancy.short { width: 270px; }
	
	.form .fancy,
	a.button  {
		background-color: white;
	/*	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
		background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
		background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
		background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;*/
		border: 1px solid #aaaaaa;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		height: 26px;
		line-height: 20px;
		padding: 0 0 0 8px;
		color: #444;
		text-decoration: none;
		left: 10px;
	}
	form.search a.button {
		width: auto;
		float:left;
		padding: 0 5px;
		height: 18px;
		line-height: 18px;
		margin-left: 5px;
		position:relative;
	}
	form.search input[type=submit] {
	    background: url(/i/bg_submit_search.png) #F0F0F0;
	    width: 100px;
	    height: 24px;
	    font-size: 0.9em;
	    line-height: 1.7em;
	    border: 1px solid #a0a0a0;
	    -webkit-border-radius: 4px;
	    -khtml-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    behavior: url(/css/PIE.htc);
	    position:relative;
	    color: #454545;
	    padding: 0px;
	    left: 0px;
	}
	a.button.red {
		background: red;
		text-shadow: #000 0px 0px 2px;
		color: #fff;
	}
	.form textarea { height: 10em }
	.form label{ text-align:right; color: #A2243F; float:left; font-size:1.3em; line-height: 24px; margin-right: 5px; }
		.form label span{ color: #000; display:block; font: normal 0.6em Tahoma, Arial, sans-serif; text-align:right; width:16em }

	.form2 label{ text-align:left; color: #A2243F; font-size:1.3em; line-height: 24px; margin-left: 5px;float:left; }
	.form2 label.dis{ color: #e2e2e2; }
		.form2 label span, .form2 label.dis span { color: #000; display:block; font: normal 0.6em Tahoma, Arial, sans-serif; text-align:left; width:16em; }
	
	.ch input[type=checkbox]{opacity:0;filter: alpha(opacity=0);}
	.ch {display:block; height:16px;width:18px;background:url(/i/ch.png) no-repeat 0px bottom;margin: 5px 15px 5px 0px;float:left;}
	.ch.checkch {background:url(/i/ch_check.png) no-repeat 0px bottom;}
	.ch.checkchdis {background:url(/i/ch_check_dis.png) no-repeat 0px bottom;}
	.ch.disch {background:url(/i/ch_dis.png) no-repeat 0px bottom;}
	


	.form.small span{ width:10em }
	.form.small input, .form.small textarea { width: 25em; }


	.form.elastik label { text-align: left; margin-left: 2px; }
	.form.elastik span { width: 100%; }
	.form.elastik input, .form.elastik textarea { width: 100%; margin-left: 2px; }

	.form .button { padding:.5em 1em .5em .7em; display: block; width:10em; height:2em; background:#666; text-align:center; line-height:2em; color:#fff; font-weight:bold; margin: 0.7em auto }
	.form input.button { height: 3em }

	.form .one-line input { width: auto; }
	.form .one-line label { float: none; }
	.form .one-line { margin-left: 11em; }

	.login-status { line-height: 18px; margin-bottom: 0.5em }
	
.breadcrumb {}
	.breadcrumb li{ display: inline;}
	.breadcrumb li:after{ content: "\25B8"; display: inline-block; padding: 0 6px 0 10px;}
	.breadcrumb li:last-child:after{content: "";}
	.breadcrumb a {color: #2c4460 !important;}
	
.maintext .abc{
	background:url(/i/bg_abc.png) no-repeat;
	height:55px;
	width:454px;
	padding:0px 7px 0px 8px;
	margin-bottom:10px;
}
	.maintext .abc ul{display:block;padding:6px 0;height:15px;}
	.maintext .abc li{display:block;float:left;width:29px;text-align:center;color:#000000;border-left:1px solid #999999;height:15px;}
	.maintext .abc li:first-child{border-left:none;}
	
	.maintext .abc li .active{color:#ffffff;text-decoration:none;display:block;margin:-6px -1px -2px -1px;width:100%;height:15px; padding:4px 1px 8px 1px;background:url(/i/bg_abc_hov.png) repeat-x #d4727c;}
	.maintext .abc li .empty{color:#666666;display:block;margin:-6px -1px -2px -1px;width:100%;height:15px; padding:4px 1px 8px 1px;}
	
	.maintext .abc li a{color:#000000;text-decoration:none;display:block;margin:-6px -1px -2px -1px;width:100%;height:15px; padding:4px 1px 8px 1px;}
	.maintext .abc li a:hover, .maintext .abc li a.active {color:#ffffff;text-decoration:none;background:url(/i/bg_abc_hov.png) repeat-x #d4727c;}
	
	

.bubble{overflow:hidden;_overflow:visible;_zoom:1;margin:10px;}
	.bubble b b{position:absolute;height:0;width:0;border: solid 7px transparent;_border: 7px solid #fff;}
	.bubble .bottom{visibility:hidden;}
	.bubbleTop .inner{margin-top:7px;}
	.bubbleTop b b{top:0;left:10px;border-top-style:none;}
	.bubbleLeft .inner{margin-left:7px;}
	.bubbleLeft b b{top:10px;left:0;border-left-style:none;}
	.bubbleRight .inner{margin-right:7px;}
	.bubbleRight b b{top:10px;right:0;border-right-style:none;}
	.bubbleBottom .inner{margin-bottom:7px;}
	.bubbleBottom b b{bottom:0;left:10px;border-bottom-style:none;}
	.bubbleBottom .bottom{visibility:visible;}
	.bubbleHorizontalExt b b{top:auto; bottom:10px;visibility:visible;}
	.bubbleVerticalExt b b{right:10px;left:auto;}

.pagination { }
	.pagination a, .pagination strong, .pagination .prev-page, .pagination .next-page, .pagination .first-page, .pagination .last-page { width: 18px;height: 16px;display: block;float:left;border: 1px solid #ccc;text-indent: -10000em;margin-right: 5px;}
	.pagination a, .pagination strong {text-indent: inherit;text-align: center;text-decoration: none;color: #000;width: 16px; }
	.pagination strong { border-color: #aaa; }
	.pagination .prev-page, .pagination .next-page { width: 13px; }
	.pagination .first-page { background-image: url(http://www.kslaw.com/imageserver/KSPublic/Images/navigation/nav_first_page.gif); }
	.pagination .prev-page { background-image: url(http://www.kslaw.com/imageserver/KSPublic/Images/navigation/nav_previous_page.gif); }
	.pagination .next-page { background-image: url(http://www.kslaw.com/imageserver/KSPublic/Images/navigation/nav_next_page.gif); }
	.pagination .last-page { background-image: url(http://www.kslaw.com/imageserver/KSPublic/Images/navigation/nav_last_page.gif); }

#rules { }
	#rules .bd > ul { list-style: none; }
	#rules .bd > ul .item { border:1px solid #eee; margin-bottom:1em; padding: 5px; }
	#gallery .hd h2, #rules .hd h2 { padding-bottom: .5em; margin-bottom: 1em; border-bottom: 1px dashed #ccc; }
	#rules .bd img { float: left; }
	#rules .bd .item div { margin: 5px 0px; }
	#rules .bd .description { padding-left: 110px; min-height: 70px; }

#galleries { }
	#galleries ul, #gallery ul { overflow: hidden; margin: 10px 0; }
	#galleries li, #gallery li { list-style: none; }
	#galleries h3, #gallery h3 { overflow: hidden; height: 1em; margin: 5px; text-align: center; }
	#galleries .photo, #gallery .photo { width: 24%; float: left; border: 1px solid #ccc; margin: 0px 5px 5px 0px; min-height: 100px; overflow: hidden; }
	#galleries .photo { min-height: 350px; width: auto; }
	#gallery .photo img { margin: 1em auto; display: block; width: 100px; height: 70px; background: url(/i/loading.gif) no-repeat center; }
	#galleries .photo img { background: url(/i/loading.gif) no-repeat center; display: block; }
	.item.photo a { display: block; }
	#galleries .sidebar { float: right; width: 100px; }
	#galleries .sidebar img { margin: 0 5px 7px 5px; }

#comments { margin: 1em auto; }
    .comments-list { width: 100%; overflow: hidden; margin: 1em 0; }
	.comments-list .item { border-top: 1px solid #EEE; padding: 10px 0; width: 100%; overflow: hidden; }
	.comments-list .item form.admin {float: right;}
	.comments-list .item .avatar {float: left;width: 40px;}
	.comments-list .item .info {margin-left: 45px;}
	.comments-list .item .info .author {font-size: 12px;font-weight: bold;}
	.comments-list .item .info .data-time {color: #999;}
	.comments-list .item .info .comment {font-family: Arial;font-size: 14px;line-height: 1.5em;background: none;padding: .5em 0 0 0;margin: 0px;}
	.comments-list .editable button {margin-right: 0.5em;}
	.comments-list .admin-btn.delete {width: 16px;height: 16px;background: transparent url(http://www.umnichka.ua/img/front/gallery-16/delete.png) no-repeat; border: 0px; cursor: pointer; cursor: hand;}
	.comments-list .counts a { display: block; background-color: #F7F7F7; border-top: 1px solid #DAE2E8; height: 13px; padding: 8px; cursor: pointer; text-align: center; color: #2B587A; }

#login-form { padding: 12px; font-family: Tahoma, Arial, sans-serif; width: 617px; background-color: #fff; color: #000; }
	#login-form h3 { font-size: 18px; color:#aa304b; }
	#login-form .line { padding: 10px; }
	#login-form .unit { padding:0 0 12px 0; }
	#login-form input[type=password],
	#login-form input[type=text] { border: 1px solid #ccc; padding: 3px; margin-right: 12px; height: 18px; }
	#login-form input[type=submit], #edit-form input[type=submit] { margin: 0 auto; display: block; width: auto; background-color: #3e8abd; padding: 5px 15px;//  padding: 3px 6px; cursor:pointer;  border-radius: 10px; color: #fff; text-transform: uppercase; }
	#login-form label { display: block; margin-right: 5px; font-family: Tahoma, Arial, sans-serif;  }
	#login-form p.desc { margin-bottom: 7px; font-family: Tahoma, Arial, sans-serif;  }
	#login-form input[type=submit]{margin-left:0px;}
	
	#login-form .login label { float: left; line-height: 26px; }
	#login-form .login .unit { width: 260px; }
	#login-form .login .lastUnit { width: 30px; }
	#login-form #form-passw { width: 150px; }
	#login-form #form-email { width: 180px; }
	#login-form #reg-passw,
	#login-form #reg-login,
	#login-form #reg-email { width: 270px; }
	#login-form div.register { border-right: 1px solid #dcafb9; }
	#login-form .social { padding-left: 12px; }
	#login-form .social a { padding: 0px 5px; }
	#login-form .social .line { margin: 5px auto; width: 185px; }
	#login-form .social h3 { margin-left: 50px; }

#overlay {
	color:#efefef;
	display: none;
	height: 370px;
}
div.contentWrap {
	width: 640px;
	padding: 35px;
	height: 370px;
}
div.contentWrap #login-form {
	border: 5px solid #aa304b;
	border-radius: 5px;
}
.apple_overlay .close {
	background-image:url(http://flowplayer.org/tools/img/overlay/close.png);
	position:absolute;
	right:10px; top:15px;
	cursor:pointer;
	height: 35px;
	width: 35px;
}


.article-content { overflow: visible; width:465px; position:relative;}
    .article-content.wide { width:735px; }	
	.article-content .picture { text-align: center; margin: 0 0 10px 0; }
	.article-content p img { padding: 15px 10px;max-width:445px; }


.content-wrapper {
	padding-left: 14px;
}

.rel.horoscope .image {background: url(/i/zodiak.png);height: 31px;width: 44px;	}
	.rel.horoscope #aries .image       { background-position: 0 0; }
	.rel.horoscope #taurus .image      { background-position: -51px 0; }
	.rel.horoscope #gemini .image      { background-position: -102px 0; }
	.rel.horoscope #cancer .image      { background-position: -153px 0; }
	.rel.horoscope #leo .image         { background-position: -204px 0; }
	.rel.horoscope #virgo .image       { background-position: -255px 0; }
	.rel.horoscope #libra .image       { background-position: 0 -41px; }
	.rel.horoscope #scorpio .image     { background-position: -51px -41px; }
	.rel.horoscope #sagittarius .image { background-position: -102px -41px; }
	.rel.horoscope #capricornus .image { background-position: -153px -41px; }
	.rel.horoscope #aquarius .image    { background-position: -204px -41px; }
	.rel.horoscope #pisces .image      { background-position: -255px -41px; }
	.rel.horoscope .text { margin-left: 50px; }

.horo .picture { width: 44px; height: 31px; background: url(/i/zodiak.png);margin:0 0 5px 13px;//margin:0 0 5px 0px;}
	.horo .picture.aries {background-position:0 -73px;}
	.horo .picture.taurus {background-position:-51px -73px;}
	.horo .picture.gemini {background-position:-102px -73px;}
	.horo .picture.cancer {background-position:-153px -73px;}
	.horo .picture.leo {background-position:-204px -73px;}
	.horo .picture.virgo {background-position:-255px -73px;}
	.horo .picture.libra {background-position:0px -114px;}
	.horo .picture.scorpio {background-position:-51px -114px;}
	.horo .picture.sagittarius {background-position:-102px -114px;}
	.horo .picture.capricornus {background-position:-153px -114px;}
	.horo .picture.aquarius {background-position:-204px -114px;}
	.horo .picture.pisces {background-position:-255px -114px;}


.topmenu { z-index:40; }
	.topmenu .menu1 li.current a { background:url(/i/bg_m1_active.png) repeat-x; }
	.topmenu .menu2 { margin: 0 -1px 0 1px; }
	.topmenu .menu2 li:hover { background: #fff; }

	.topmenu .menu1 li a { padding: 0 12px; }


	.topmenu .menu2 li { height: 32px; }
	.topmenu .menu2 li.none a { padding: 0 25px; border-right: 1px solid #ccc; height: 1.1em; margin-top: 8px; line-height: 15px; }	
	.topmenu .menu2 li.last a { border: none; }
	.topmenu .menu2 li { border:none; }
	.topmenu .menu2 li:hover a { background: #fff; }
	.topmenu .menu1 ul li.drop:hover > a {
	    background: #fff;
	    color: #A2243F;
	    border-radius: 5px 5px 0px 0px;
	    margin-top: 3px;
	    height: 34px;
	    line-height: 28px;
	}

	.topmenu .menu1 li:hover ul { display: block }
	.topmenu .menu1 li ul {
	    position: absolute;
	    z-index: 50;
	    background-color: #fff;
	    box-shadow: 2px 2px 3px #999;
	    border:1px solid #ccc;
	    border-width: 0 1px 1px 0;
	    border-radius: 0px 0px 7px 7px;
	    padding: 10px;
	    min-width: 150px;
	}
	.topmenu .menu1 li ul li {
	    display: block;
	    float: none;
	    padding: 0px !important;
	    border: none;
	}
	.topmenu .menu1 li:hover ul a {
	    color: #002C80;
	}
	.topmenu .menu1 li ul a {
	    border-bottom: 1px solid #ebebeb;
	    font-weight: normal;
	    font-size: 0.9em;
	    text-align: left;
	    color: #002C80;
	    padding: 7px !important;
	    height: 1em !important;
	    line-height: 1em;
	    margin: 0 5px;
	    white-space: pre;
	}
	.topmenu .menu1 li ul li.last a {
	    border: none;
	}
	.topmenu .menu1 li.drop.last ul { right: 0px; }
	.topmenu .menu1 li ul li:hover {
	    background-color: #ebebeb;
	    border-radius: 4px;
	}
	.topmenu .menu1 li ul li:hover a { background: transparent; }

div.player { width: 500px; height: 400px; cursor: pointer; text-align: center; margin: 0 auto; }
	div.player img {margin-top: 160px;}
	div.player div.info { height: 40px; background: black url(http://flowplayer.org/img/global/gradient/h80.png) repeat-x; opacity: 0.7; color: white; text-align: left; padding: 5px 15px; font-family: "bitstream vera sans","trebuchet ms"; font-size: 12px; border-top: 1px solid #CCC; margin-top: 106px; }
	div.player div.info span { color: #9F9; display: block; font-weight: bold; }
	.video-box,
	.video-box .skin-photo { width: 500px; height: 400px; margin: 0px auto;}

a.social {
	background: no-repeat left center;
	padding-left: 24px;
}
a.social.vkontakte { background-image: url(/i/icons/vkontakte-18px.png); }
a.social.facebook { background-image: url(/i/icons/facebook-20px.png); }
a.social.twitter { background-image: url(/i/icons/twitter-20px.png); }

.chzn-container { margin-left: 10px; width: 32em; }

.search .input.wide { width: 290px; background-image: url(/i/bg_search_wide.png); }

#user_country_chzn, #user_from_chzn { margin-left:0px; }
#user_country_chzn { z-index:50; }


.form .message label { margin-left:9px; }

#scroll-table {
	background-color:#f3f3f3;
	border-bottom: 1px solid #ccc;
	margin: 10px auto;
	//padding-bottom:10px;
}
	#scroll-table #image_wrap {
		width:460px;
		text-align:center;
	    -moz-box-shadow: 0 0 5px #999999;
	    -webkit-box-shadow: 0 0 5px #999999;
	    -khtml-box-shadow:0 0 5px #999999;
	    box-shadow:0 0 5px #999999;
	    behavior: url(/css/PIE.htc);
	    margin:0 auto;
	    background:#ffffff;
	    position:relative;
	}
	#scroll-table #image_wrap img{
	    max-width:460px;
	    height:auto;
	    width:auto;
	    margin:0 auto;
	}
	#scroll-table #image_wrap #addcontrols{
	position:absolute;
	height:10px;
	width:465px;
	background:none;
	top:50%;
	left:0;
	}
	#scroll-table #image_wrap #addcontrols .forward {
		background: url("/i/horizontal1.png") no-repeat scroll 0 -36px transparent;
	        cursor: pointer;
	        height: 36px;
	        position:absolute;
	        top:-18px;
	        right:-7px;
	        width: 36px;
	        z-index: 5;
	}
	#scroll-table #image_wrap #addcontrols .backward {
		background: url("/i/horizontal1.png") no-repeat scroll 0 0 transparent;
	        cursor: pointer;
	        height: 36px;
	        top:-18px;
	        left:-7px;
	        position: absolute;
	        width: 36px;
	        z-index: 5;
	}

	#scroll-table .description {
		text-align: center;
		padding: 5px 10px 30px 10px;
		color: #585858;
	}
	#scroll-table .liker {
		text-align: center;
		width:220px;
		height:auto;
		padding:3px 0;
		color: #585858;
		background:#ffffff;
		position:relative;
		-webkit-border-radius:9px;
		-khtml-border-radius:9px;
		-moz-border-radius:9px;
		border-radius:9px;
		behavior: url(/css/PIE.htc);
		margin:-30px auto 10px auto;
			
	}

	#scroll-table .scrollable {
		position:relative;
		overflow:hidden;
		width: 465px;
		height:120px;
		float:left;
	}

	#scroll-table .scrollable .items {
		width:20000em;
		position:absolute;
		clear:both;
	}

	#scroll-table .items div {
		float:left;
		width:465px;
	}

	#scroll-table .scrollable img {
		float:left;
		margin:5px 0px 5px 2px;
		background-color:#fff;
		width:113px;
		height:85px;
	}

	#scroll-table .active {
		border:1px solid #000;
		position:relative;
		cursor:default;
	}

	#scroll-table a.browse {
		background:url(/i/hori_large.png) no-repeat;
		display:block;
		position: relative;
		width:30px;
		height:30px;
		cursor:pointer;
		font-size:1px;
		z-index: 100;
		top: 30px;
	}


#pager {
    text-align: center;
    overflow: hidden;
}

	#pager .pager {
		margin: 17px auto 10px auto;
		display:inline-block;
		//display:block;
		//width:300px;
		//margin:17px auto 10px 95px;
	}

	#pager .pager b,
	#pager .pager span {
		border: 1px solid #dedede;
		width: 25px;
		height: 25px;
		display: block;
		float: left;
		text-align: center;
		line-height: 25px;
		margin-right: 5px;
	}
	#pager .pager b a {
		text-decoration: none;
	}
	#pager .pager span.active {
		background-color: #909090;
		color: #fff;
		position:static;
	}
	#pager .pager span.empty {
		border-color: transparent;
	}

	#simple_pager {
		margin:15px 0;	
	}

	#simple_pager  .pager {
		margin: 17px auto 10px auto;
	}

	#simple_pager .pager b,
	#simple_pager .pager span {
		border: 1px solid #dedede;
		width: 25px;
		height: 25px;
		display: block;
		float: left;
		text-align: center;
		line-height: 25px;
		margin-right: 5px;
	}
	#simple_pager .pager b a {
		text-decoration: none;
	}
	#simple_pager .pager span.active {
		background-color: #909090;
		color: #fff;
		position:static;
	}
	#simple_pager .pager span.empty {
		border-color: transparent;
	}

.bdvideo .pic_shad .bording {
	position: relative;
}
	.bdvideo .pic_shad .bording a.play,
	.bdvideo .pic_shad.left .bording a.play {
		background: transparent url(/i/play_90x90.png) no-repeat center center;
		position: absolute;
		width: 250px;
		height: 150px;
		top: 0px;
		left: 0px;
	}
	.bdvideo .pic_shad.left .bording a.play {
		background: transparent url(/i/play_27x27.png) no-repeat center center;
		width: 90px;
		height: 65px;
	}

span.gallery-add {
	background: url(/i/add-plus.png) no-repeat left 0px;
	padding-left: 22px;
	height: 18px;
	line-height: 18px;
	display:inline-block;
	z-index:1;
}
	span.gallery-add a {
		font-weight: bold;
		text-decoration: none;
		border-bottom: 1px dashed #002C80;
	}
	

h2.logo {
	background: url(/i/small-logo.png) no-repeat left center;
	padding-left: 55px;
	height: 25px;
	line-height: 35px;
	font-size: 1.1em;
}

.rel.white {
	background: #fff;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}

	.rel.white a {
		text-decoration: none;
		color: #585858;	
	}

#mycarousel1 .col2 .valign a {
    display: block;
    width: 100px;
}                                                                                                                                         

.wrapped,
#mycarousel1 .col2 .valign a span.top {                                                                                              
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, начиная с 1999 года */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


.logo.logo2{
	background-position:right center;
	padding-left: 5px;
	font-size:1.2em;
	line-height:30px;
}
.slidetabs_s_p_v{
	position:absolute;
	top:20px;
	left:130px;
}
.slidetabs_s_p_v a{
	background:url(/i/st_s_p_v.png) no-repeat;
	display:inline-block;
	width:7px;
	height:7px;
	line-height:7px;
	text-decoration:none;
}
.slidetabs_s_p_v a:hover,
.slidetabs_s_p_v a.active{
	background-position:0px -7px;
	text-decoration:none;
}
.wrapper_s_p_v{
	height:220px;
	position:relative;
}
.wrapper_s_p_v .s_p_v{
	width:274px;
	height:220px;
	overflow:hidden;
	margin:0 auto;
}
.wrapper_s_p_v .s_p_v .list {
	height:217px;
	width: 10000em;
}
.wrapper_s_p_v .s_p_v .list li.item{
	display:block;
	float:left;
	width:274px;
	height:217px;
}
.wrapper_s_p_v .s_p_v .list li.item .text{
	text-align:center;
	color:#454545;
}
.wrapper_s_p_v .s_p_v .list li.item .text a{
	text-decoration:none;
	color:#454545;
}
.wrapper_s_p_v .s_p_v .list li.item .s_p_v-img{
	margin:10px 0 5px 0;
	background:#ffffff;
	padding:7px;
	display: block;
}
.wrapper_s_p_v .s_p_v .list li.item .s_p_v-img img,
.wrapper_s_p_v .s_p_v .list li.item .s_p_v-img .video{
	height:155px;
	width:260px;
}
.wrapper_s_p_v .s_p_v .list li.item .s_p_v-img .video{
	background:#454545;
}
.wrapper_s_p_v .s_p_v .list li.item .s_p_v-img .play{
	background: url(/i/play_90x90.png) no-repeat scroll center center transparent;
    height: 155px;
    left: 5px;
    position: absolute;
    top: 10px;
    width: 260px;
}
.wrapper_s_p_v a.prev-video,
.wrapper_s_p_v a.next-video,
.wrapper_s_p_v a.prev,
.wrapper_s_p_v a.next{
	position:absolute;
	top:80px;
	display:block;
	width:36px;
	height:36px;
	background:url(/i/prev_next.png);
	font-size: 1px;
    text-indent: -9999em;
	cursor:pointer;
}
.wrapper_s_p_v a.prev-video:hover,
.wrapper_s_p_v a.prev-video:active,
.wrapper_s_p_v a.prev:hover,
.wrapper_s_p_v a.prev:active{
	background-position:0px -36px;
}
.wrapper_s_p_v a.prev-video.disabled,
.wrapper_s_p_v a.prev-video.disabled:hover,
.wrapper_s_p_v a.prev.disabled,
.wrapper_s_p_v a.prev.disabled:hover{
	background-position:0px -72px;
}
.wrapper_s_p_v a.next-video,
.wrapper_s_p_v a.next{
	right:0;
	background-position:-36px 0px;
}
.wrapper_s_p_v a.next-video:hover,
.wrapper_s_p_v a.next-video:active,
.wrapper_s_p_v a.next:hover,
.wrapper_s_p_v a.next:active{
	background-position:-36px -36px;
}
.wrapper_s_p_v a.next-video.disabled,
.wrapper_s_p_v a.next-video.disabled:hover,
.wrapper_s_p_v a.next.disabled,
.wrapper_s_p_v a.next.disabled:hover{
	background-position:-36px -72px;
}



.subcontainer { padding: 0 1px 0 21px; }
	.subcontainer .chzn-container { left: 10px; }
	.subcontainer .fancy.error { border: 1px solid #B9554D; box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); }
	.subcontainer div.checkbox { overflow: hidden; }
		.subcontainer div.checkbox div { float: left; }
		.subcontainer div.checkbox .controll { margin-left: 30px; margin-top: 2px; }
			.subcontainer div.checkbox .controll .ch { margin-right: 5px; }
			.subcontainer div.checkbox .controll label { font-size: 0.8em; color: #222; width: 50px; line-height: 1em; padding-top: 5px; }
			.subcontainer div.checkbox .controll input { margin: 0px; }

	.subcontainer span.label { width: 16px; height: 26px; display: block; float: left; margin-left: 14px; position:absolute; left: 564px; top: 0; }
		.subcontainer span.label.error { background: url('/i/icon_no.png') no-repeat center; }
		.subcontainer span.label.valid { background: url('/i/icon_yes.png') no-repeat center; }

.public-profile .rel .usermenu { width: 640px; }
.public-profile .usermenu .line .unit { height: 60px; }
.public-profile .usermenu .line .meedlegray { font-weight: bold; font-size: 0.9em; color: #000; border-bottom: 1px solid #ccc; width: 90%; }
.simplePagerNav { overflow: hidden; }
.simplePagerNav li { float: left; padding: 0 3px; }
.simplePagerNav a { font-size: 0.8em; }
.simplePagerNav .currentPage a { color: #000; font-weight: bold; }

select#user_country, select#user_from {
	z-index: 10;
	opacity: 0;
	-webkit-appearance: none;
	/* background: url('/i/list_drop.png') no-repeat 365px 3px;*/ 
}

span.select {
	position: absolute;
	float: left;
	left: 177px;
	width: 388px;
	height: 26px;
	line-height: 26px;
	text-indent: 10px;
	cursor: default;
	z-index: 1;
	border: 1px solid #aaaaaa;
	color: #444;
}

span.select .pip {
	background: url('/i/list_drop.png') no-repeat right 0;
	width: 25px;
	height:19px;
	display: block;
	position: absolute;
	right: 4px;
	top: 4px;
}

.maintext .rel p.small {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    font-family: Verdana;
}

.viewcom_bottom {
    float: none;
    position:relative;
    top: -15px;
    text-align: right
}

span.user.annon {
    color: #002c80;
    text-decoration: underline;
}