/* Adaptation for style */
.skin-tango{
    display:block;
    float:none;
    height:200px;
    padding: 0;
    width:600px;
    overflow:hidden;
    margin:0 30px;
    margin-top:20px;
    position:relative;
}
.skin-tango .slide-wrapper{
    width:10000px;
    position:relative;
    clear:both;

}
.skin-tango .rel{
    float:left;
    width:650px;

}
.skin-tango .rel .left{
    margin-right:33px;
    margin-top:20px;
    width:120px;
}
.skin-tango img{
    width: 120px;
    height:110px;
    border:1px solid #a7a5b0;
    padding:0px;
    margin-bottom:10px;
    background:#ffffff;
}
.skin-tango a{
    text-decoration:none;
}

/* Другие стили для карусельки */
.skin-adv{
	display:block;
	float:none;
	height:370px;
	width:640px;
	overflow:hidden;
}

.skin-adv > #news_scroller { width: 420px; height: 370px; overflow: hidden;	float:left; }
	.skin-adv > #news_scroller > .news_line  { width: 10000px; height: 370px; }
		.skin-adv > #news_scroller > .news_line > .news_scroll { width: 420px; height: 370px; float: left; }

			/* left column */
			.skin-adv .rel .col2 { width:420px; background:none; padding:0; height:370px; }
				.skin-adv .rel .col2 .bd { border:none; padding:10px 20px 20px 10px;height:340px; }
				.skin-adv .rel .col2 .top { font-size: 1.6em; margin-bottom:10px; }
				.skin-adv .rel .col2 .bd .shad{ width:400px; height:230px; border:none;	margin-bottom:10px; }

	/* right column */
	.skin-adv .col2 { float: right; width: 210px; padding: 10px 0 10px 10px; }
		.skin-adv .col2 .sd { border-bottom: solid 1px #ddd; border-top: solid 1px #ddd; margin-bottom:-1px; }
			.skin-adv .col2 .sd img{ width: 90px; height: 85px; float:left; margin-top: -3px; margin-bottom: -3px; }
			.skin-adv .col2 .sd .text { float: right; width: 100px; margin-right: 8px; font-size:0.9em; line-height: 1.2em;}
				.skin-adv .col2 .sd .text .valign { vertical-align:middle; height:85px; display: table-cell; }

/**
 *  Horizontal Buttons
 */
.forward, .backward {
    cursor: pointer;
    display: block;
    font-size: 1px;
    text-indent: -9999em;
}
.forward {
    position: absolute;
    top: 67px;
    right: 5px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    background: transparent url(/i/horizontal.png) no-repeat 0 -16px;
}


.forward:hover,
.forward:focus {
    background-position: -10px -16px;
}

.forward:active {
    background-position: -20px -16px;
}

.forward.disabled, .jcarousel-skin-adv .backward.disabled {
    visibility: hidden !important;
}
.backward {
    position: absolute;
    top: 67px;
    left: 5px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    background: transparent url(/i/horizontal.png) no-repeat 0 0;
}


.backward:hover{
    background-position: -10px 0;
}

.backward:active {
    background-position: -20px 0;
}

.forward.disabled, .backward.disabled {
    visibility: hidden !important;
}

.box.adv .forward {
    position: absolute;
    top: 165px;
    right: 208px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: transparent url(/i/horizontal1.png) no-repeat 0 -36px;
}


.box.adv .forward:hover,
.box.adv .forward:focus {
    background-position: -36px -36px;
}

.box.adv .forward:active {
    background-position: -72px -36px;
}

.box.adv .forward.disabled, .jcarousel-skin-adv .backward.disabled {
    visibility: hidden !important;
}
.box.adv .backward {
    position: absolute;
    top: 165px;
    left: -8px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 10;
    background: transparent url(/i/horizontal1.png) no-repeat 0 0;
}


.box.adv .backward:hover{
    background-position: -36px 0;
}

.box.adv .backward:active {
    background-position: -72px 0;
}

.box.adv .forward.disabled, .box.adv .backward.disabled {
    visibility: hidden !important;
}
/* in minileft*/

.minileft .adv{
    position:relative;
    margin:25px 0;
    /* height:728px; */
}
.minileft .skin-tango{
    display:block;
    float:none;
    height:520px;
    padding: 0;
    width:140px;
    overflow:hidden;
    margin:0;
    padding:0 0 0 15px;
}
.minileft .skin-tango .slide-wrapper{
    height:10000px;
    position:relative;
    clear:both;
    width:130px;

}
.minileft .skin-tango .rel{
    float:none;
    width:130px;
    height:720px;

}
.minileft .skin-tango .rel .left{
    margin-right:0px;
    margin-top:10px;
    width:122px;
    height:170px;
    overflow:hidden;
}




.minileft .forward, .minileft .backward {
	position:static;
	margin:10px 5px 10px 70px;
	float:none;
	width: 16px;
        height: 10px;
	cursor: pointer;
}
.minileft .forward {
    background: transparent url(/i/vertical.png) no-repeat;
}
.minileft .forward:hover,
.minileft .forward:focus {
    background-position: 0px -10px;
}

.minileft .forward:active {
    background-position: 0px -20px;
}

.minileft .backward {
    background: transparent url(/i/vertical.png) no-repeat -16px 0;
}
.minileft .backward:hover,
.minileft .backward:focus {
    background-position: -16px -10px;
}

.minileft .backward:active {
    background-position: -16px -20px;
}

/* gallery */
.photo-box .backward {
    position: relative;
    top: 160px;
    margin-bottom: -46px;
    left: -20px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background: transparent url('/i/horizontal-big.png') no-repeat 0 0;
}

.photo-box .backward:hover,
.photo-box .backward:focus {
    background-position: -46px 0;
}

.photo-box .backward:active {
    background-position: -92px -46;
}

.photo-box .forward.disabled, .photo-box .backward.disabled {
    visibility: hidden !important;
}

.photo-box .forward {
    position: relative;
    top: 160px;
    margin-bottom: -46px;
    right: -596px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background: transparent url('/i/horizontal-big.png') no-repeat 0 100%;
}

.photo-box .forward:hover,
.photo-box .forward:focus {
    background-position: -46px 100%;
}

.skin-photo{
	background-color:#A7A5B0;
	display:block;
	float:none;
	width:620px;
	min-height: 400px;
	max-height: 1024px;
	overflow:hidden;
	//margin-top: 15px;
}
#user_birthday:focus{
    -moz-box-shadow:0 0 5px #aaaaaa;
    -webkit-box-shadow:0 0 5px #aaaaaa;
    -khtml-box-shadow:0 0 5px #aaaaaa;
    box-shadow:0 0 5px #aaaaaa;
    behavior:url(/css/PIE.htc);
    position:relative;
    
}
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;

	margin-top:-22px;
	width:261px;
	padding:5px 8px 8px 8px;
	background-color:#ebebeb;
	font-size:11px;
	border:1px solid #eaeaea;

	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-khtml-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	behavior:url(/css/PIE.htc);

}

#calhead {
	padding:2px 0;
	height:26px;
}

#caltitle {
	font-size:14px;
	color:#0150D1;
	float:left;
	text-align:center;
	width:206px;
	line-height:25px;
	text-shadow:0 1px 0 #ddd;
	padding-top:2px;
}

#calnext, #calprev {
	display:block;
	width:24px;
	height:24px;
	background:transparent url(/i/cal_prev.png) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(/i/cal_next.png);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;
}

/* year/month selector */
#caltitle select {
	font-size:14px;
	
}

/* names of the days */
#caldays {
	height:20px;
	background:#ffffff;
}

#caldays span {
	display:block;
	float:left;
	width:37px;
	text-align:center;
	font-weight:bold;
}
#caldays span.weekend{color:#A2243F;}

/* container for weeks */
#calweeks {
	background-color:#fff;
}

/* single week */
.calweek {
	clear:left;
	height:20px;
	padding:0 3px;
	margin:0 -3px 2px -3px;
	background:#f0f0f0;
}
.calweek.odd{background:none;}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:36px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#222;
}

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ccc;
}

/* sunday */
a.calsun {
	color:red;
}

/* offmonth day */
a.caloff {
	color:#ccc;
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);
}


/* unselecteble day */
a.caldisabled {
	background-color:#f7f7f7 !important;
	color:#ccc	!important;
	cursor:default;
}



/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}
