body {
	margin-left: 0px !important;
}

ul {
	list-style-type: none;
	list-style-image: none;
	font-size: 10px;
	font-family: Tahoma, Arial, sans;
	margin-left: -30px;
}

ul li a {
	padding: 2px;
	border: 1px solid #CCC;
	display: block;
	margin: 1px 0px;
	text-decoration: none;
	color: #333;
}
